body {
    background-color: #000;
    font-family: 'Roboto';
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.title {
    height: 10vh;
    width: 100vw;
}

.title table {
    border-collapse: collapse;
    margin: auto;
    user-select: none;
}

.title td {
    background-color: #111;
    height: 10vh;
    padding: 0;
    width: 100vw;
}

.title a {
    color: #fff;
    font-size: 3.5vh;
    text-decoration: none;
}

.scoreboard {
    height: 60vh;
    width: 100vw;
}

.scoreboard table {
    border-collapse: collapse;
    margin: auto;
}

.scoreboard td {
    background-color: #111;
    color: #fff;
    font-size: 2vh;
    height: 6.5vh;
    padding: 0;
    width: 7.5vmin;
}

.spacer td {
    background-color: #000;
}

.frames td {
    font-size: 2.5vh;
}

.rolls td:nth-child(odd) {
    border-left: 3px solid #222;
    border-right: 3px solid #222;
    border-top: 3px solid #222;
}

.rolls td:nth-child(even), .rolls td:last-child {
    border: 3px solid #222;
}

.scores td {
    border-bottom: 3px solid #222;
    border-left: 3px solid #222;
    border-right: 3px solid #222;
}

.keypad {
    height: 30vh;
    width: 100vw;
}

.keypad table {
    background-color: #111;
    border-collapse: collapse;
    margin: auto;
    user-select: none;
}

.keypad td {
    color: #fff;
    cursor: pointer;
    font-size: 3vh;
    height: 10vh;
    padding: 0;
    width: 25vmin;
}

.keypad td:hover {
    background-color: #222;
}
